.phocamaps .pmroute #fromPMAddressPlgPM1, .pmroute #fromPMAddressPlgPM1 {
    height: 10px;
    line-height: 10px;
    margin-top: 10px;
}

.phocamaps img {
    max-width: none !important;
}

div.ss-serie-player, div.ss-sermons-player, div.ss-speaker-player {
	text-align: center;
	margin: 0px 12px;
	width: inherit;
	margin-bottom: 10px;
}

.header-1 {
  color: #265782 !important;
}



.jcalpro_events_date {
  font-weight: normal !important;
}


